.task-item {
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .task-item.todo {
    border-left: 4px solid #007bff;
    /* Blue border for TODO tasks */
    background-color: #e9f7fe;
  }

  
.task-item.inprogress {
    border-left: 4px solid #ffc107;
    /* Yellow border for In Progress tasks */
    background-color: #fff8e1;
  }

  .task-item.closed {
    border-left: 4px solid #28a745;
    /* Green border for Closed tasks */
    background-color: #e7f7e2;
  }
  .task-item svg {
    width: 30px;
    height: 30px;
    color: red;
  }